@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}

body {
  position: relative;
  background-color: #FFF;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.67);
}

body::before {
  content: "";
  position: absolute;
  background-image: url("/images/texture.png");
  background-repeat: repeat;
  mix-blend-mode: multiply;
  width: 100vw;
  height: 100%;
}

br {
  display: block;
  content: "";
  height: 0.5rem;
}

@media screen and (max-width: 768px) {
  body {
    font-size: 13px;
  }
}

.writing-vertical {
  writing-mode: vertical-rl;
}

/*要素の浮上表示*/
.before-scroll-once {
  opacity: 0;
  transform: translateY(3.5%);
}

.before-scroll-repeat {
  opacity: 0;
  transform: translateY(7%);
}

.on-scroll {
  transform: translateY(0%);
  transition: 2.3s;
  opacity: 1;
}

/*ヘッダーのボーダーアニメーション*/
.header-border::after {
  content: "";
  opacity: 1;
  position: relative;
  display: block;
  bottom: 0;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 2.3s ease-out, opacity 0.5s ease-out 2.33s;
}

.header-border.border-animation::after {
  transform: scaleX(1);
  opacity: 0;
}

.elevator {
  height: 3.875rem;
  transition: all 0.5s ease;
}

@media screen and (min-width: 1024px) {
  .elevator {
    height: auto;
  }
}

.elevator.going-down {
  height: 70vh;
}

/* current href or not current href に当てるスタイル */
.current {
  position: relative;
  padding: 0.25rem 1.5rem;
  color: #fff !important;
}

@media screen and (max-width: 1023px) {
  .current {
    padding: 0.125rem 1.5rem;
    color: #fff !important;
  }

  .current::after {
    transition-delay: 0s;
  }

  .current::before {
    transition-delay: 0s;
  }
}

.induction {
  padding: 0 1.5rem;
}

@media screen and (max-width: 1023px) {
  .induction {
    padding: 0.125rem 1.5rem;
  }
}

/*コンテンツのスライドアニメーション*/
.animate-in {
  animation: slide-in 1.85s forwards;
}

.animate-out {
  animation: slide-out 1.05s forwards;
}

@keyframes slide-in {
  0% {
    opacity: 0;
    transform: translateX(-70%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes slide-out {
  0% {
    opacity: 1;
    transform: tranlateX(0%);
  }
  95% {
    opacity: 0;
    transform: translateX(50%);
  }
  100% {
    opacity: 0;
    transform: translateX(200%);
  }
}

/*レスポンス時に表示されるフッターのアニメーション*/
.animate-toggle-after-text {
  display: inline-block;
  color: #fffffc;
}

.animate-toggle-before-text {
  display: inline-block;
}

.animate-toggle-after-text.animate-toggle-after-text-on {
  animation: currentProfile 0.7s forwards;
}

.animate-toggle-after-text.animate-toggle-after-text-off {
  animation: lastProfile 0.7s forwards;
}

.animate-toggle-before-text.animate-toggle-before-text-on {
  animation: currentProfile 0.7s forwards;
}

.animate-toggle-before-text.animate-toggle-before-text-off {
  animation: lastProfile 0.7s forwards;
}

@keyframes lastProfile {
  0% {
    color: #fffffc;
  }
  100% {
    color: rgba(0, 0, 0, 0.67);
  }
}

@keyframes currentProfile {
  0% {
    color: rgba(0, 0, 0, 0.67);
  }
  100% {
    color: #fffffc;
  }
}

.toggleProfile::before {
  z-index: -1;
  position: absolute;
  content: "";
  top: 12.5%;
  right: 52.5%;
  width: 45%;
  height: 75%;
  background-color: rgba(245, 177, 153, 0.63);
  border-radius: 9999px;
}

.toggleProfile.kai::before {
  animation: move-right 0.8s forwards;
}

.toggleProfile.marie::before {
  animation: move-left 0.8s forwards;
}

@keyframes move-right {
  0% {
    right: 52.5%;
}
  100% {
    right: 2.5%;
}
}

@keyframes move-left {
  0% {
    right: 2.5%;
}
  100% {
    right: 52.5%;
}
}

/* ハンバーガーメニュー */
.hamburger-menu {
  position: relative;
  width: 24px;
  height: 24px;
}

.hamburger-menu span {
  display: block;
  width: 100%;
  height: 1px;
  transition: all 0.5s ease;
}

.hamburger-menu-bar-top {
  position: absolute;
  top: 7px;
  transform-origin: center;
}

.hamburger-menu-bar-top.top-open {
  top: 11.5px;
  transform: rotate(45deg);
}

.hamburger-menu-bar-bottom {
  position: absolute;
  bottom: 7px;
  transform-origin: center;
}

.hamburger-menu-bar-bottom.bottom-open {
  bottom: 11.5px;
  transform: rotate(-45deg);
}

/*ヘッダーコンテンツの delay 表示*/
.delay-display {
  opacity: 0;
  animation: softy-display 0.35s forwards 0.5s;
}

@keyframes softy-display {
  0% {
    opacitry: 0;
  }
  100% {
    opacity: 1;
  }
}

/*クリックイベントの防御*/
.disabled-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0);
  z-index: 9999;
}

/*付箋スタイル*/
.post-it {
  position: relative;
  border-right: 1px solid rgba(0, 0, 0, 0.67);
  border-bottom: 1px solid rgba(0, 0, 0, 0.67);
}


