@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
}

body {
  background-image: url("/images/porko-bg-image.svg");
  font-size: 14px;
  color: rgba(0, 0, 0, 0.67);
}

@media screen and (max-width: 768px) {
  body {
    font-size: 13px;
  }
}

.w {
  height: 250px;
}

.wf {
  height: 100%;
}

.writing-vertical {
  writing-mode: vertical-rl;
}

/*要素の浮上表示*/
.before-scroll-once {
  opacity: 0;
  transform: translateY(3.5%);
}

.before-scroll-repeat {
  opacity: 0;
  transform: translateY(7%);
}

.on-scroll {
  transform: translateY(0%);
  transition: 2.3s;
  opacity: 1;
}

/*ヘッダーのボーダーアニメーション*/
.header-border::after {
  content: "";
  opacity: 1;
  position: relative;
  display: block;
  bottom: 0;
  width: 100%;
  height: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 2.3s ease-out, opacity 0.5s ease-out 2.33s;
}

.header-border.border-animation::after {
  transform: scaleX(1);
  opacity: 0;
}

.elevator {
  height: 3.5rem;
  transition: all 0.5s ease;
}

@media screen and (min-width: 768px) {
  .elevator {
    height: 4.3125rem;
  }
}

.elevator.going-down {
  height: 70vh;
}

/* current href or not current href に当てるスタイル */
.current {
  position: relative;
  padding: 0.25rem 1.5rem;
  color: #fff !important;
}

.current::after {
  z-index: -1;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(245, 177, 153, 0.53) !important;
  transform: scaleX(0);
  transition: transform 0.4s;
  transition-delay: 2.3s;
  transform-origin: left;
}

.current::before {
  z-index: -1;
  content: "";
  position: absolute;
  background-color: rgba(245, 177, 153, 0.53);
  top: 0;
  left: 0;
  width: 1.25rem;
  height: 100%;
  clip-path: polygon(0 0, 0% 100%, 100% 50%);
  opacity: 0;
  transition: opacity 0s, left 0.4s;
  transition-delay: 2.3s;
}

.current.animate-current::after {
  transform: scaleX(1);
}

.current.animate-current::before {
  opacity: 1;
  left: 100%;
}

@media screen and (max-width: 768px) {
  .current {
    padding: 0.125rem 1.5rem;
    color: #fff !important;
  }

  .current::after {
    transition-delay: 0s;
  }
}

.induction {
  padding: 0 1.5rem;
}

@media screen and (max-width: 768px) {
  .induction {
    padding: 0.125rem 1.5rem;
  }
}

/*コンテンツのスライドアニメーション*/
.animate-in {
  animation: slide-in 1.85s forwards;
}

.animate-out {
  animation: slide-out 1.05s forwards;
}

@keyframes slide-in {
  0% {
    opacity: 0;
    transform: translateX(115%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes slide-out {
  0% {
    opacity: 1;
    transform: tranlateX(0%);
  }
  100% {
    opacity: 0;
    transform: translateX(-50%);
  }
}

/*レスポンス時に表示されるフッターのアニメーション*/
.animate-border::after {
  content: "";
  position: relative;
  display: block;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.5);
}

.animate-border.animate-border-in::after {
  transform: scaleX(0);
  transform-origin: left;
  animation: border-in 1.5s forwards 0.26s;
}

@keyframes border-in {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}

.animate-border.animate-border-out::after {
  transform: scaleX(1);
  transform-origin: right;
  animation: border-out 1.1s forwards;
}

@keyframes border-out {
  0% {
    transform: scaleX(1);
  }
  100% {
    transform: scaleX(0);
  }
}

/* ハンバーガーメニュー */
.hamburger-menu {
  position: relative;
  width: 24px;
  height: 24px;
}

.hamburger-menu span {
  display: block;
  width: 100%;
  height: 1px;
  transition: all 0.5s ease;
}

.hamburger-menu-bar-top {
  position: absolute;
  top: 7px;
  transform-origin: center;
}

.hamburger-menu-bar-top.top-open {
  top: 11.5px;
  transform: rotate(45deg);
}

.hamburger-menu-bar-bottom {
  position: absolute;
  bottom: 7px;
  transform-origin: center;
}

.hamburger-menu-bar-bottom.bottom-open {
  bottom: 11.5px;
  transform: rotate(-45deg);
}

/*ヘッダーコンテンツの delay 表示*/
.delay-display {
  opacity: 0;
  animation: softy-display 0.35s forwards 0.5s;
}

@keyframes softy-display {
  0% {
    opacitry: 0;
  }
  100% {
    opacity: 1;
  }
}

/*クリックイベントの防御*/
.disabled-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0);
  z-index: 9999;
}

/*付箋スタイル*/
.post-it {
  display: inline-block;
  position: relative;
  background-color: rgba(245, 177, 153, 0.53);
}

.post-it::before {
  content: "";
  position: absolute;
  top: 0;
  width: 15px;
  height: 100%;
  left: 100%;
  background-color: rgba(245, 177, 153, 0.53);
  clip-path: polygon(0 0, 0% 100%, 100% 50%);
}
